.svn
__history
release
release64
ReleaseXP
bin
bin64
obj
debug
lib
dlls
log
Doc
Db
temp
ShareLibs
Visual Studio 2012
Delivery
.vs
*.opendb
*.db
*.ncb
*.sdf
*.ipch
*.pch
*.user
*.opensdf
*.suo
*.opt
*.plg
*.filters
*.2007
*.log
*.tlog
*.pdb
*.obj